body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #413f3d;
    background-color: #b1a6a4;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  header {
    background-color: #d8cfd0;
    padding: 6px 20px 6px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
  }
  
  h1 {
    font-size: 60px;
    margin: 0;
  }
  
  p.subtitle {
    font-size: 16px;
    margin: 10px 0 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    font-size: 16px;
  }
  
  section {
    margin: 20px 0;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  article {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  article h3 {
    font-size: 20px;
    margin: 0;
  }
  
  p.project-date {
    font-size: 16px;
    color: #888;
  }
  
  ul.contact-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  ul.contact-list li {
    margin-bottom: 10px;
  }
  
  ul.contact-list li a {
    color: #337ab7;
  }
  
  